$bg_body: #eee;
$color_text: #252525;
$bg_footer: $color_text;
$color_nav: $bg_body;
$hover_nav: #993333;

$url-project-1: url(https://static.pexels.com/photos/26549/pexels-photo-26549.jpg);
$url-project-2: url(https://static.pexels.com/photos/25641/pexels-photo-25641.jpg);
$url-project-3: url(https://static.pexels.com/photos/26549/pexels-photo-26549.jpg);
$url-project-4: url(https://static.pexels.com/photos/25641/pexels-photo-25641.jpg);
$url-project-5: url(https://static.pexels.com/photos/26549/pexels-photo-26549.jpg);
$url-project-6: url(https://static.pexels.com/photos/25641/pexels-photo-25641.jpg);
$url-project-7: url(https://static.pexels.com/photos/26549/pexels-photo-26549.jpg);
$url-project-8: url(https://static.pexels.com/photos/25641/pexels-photo-25641.jpg);
$url-project-9: url(https://static.pexels.com/photos/26549/pexels-photo-26549.jpg);